<!DOCTYPE html>
<html>
<head>
<title>QRCode Tester</title>
</head>
<body>
<ul id="QRCode"></ul>
<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript">
var socket = io();
socket.emit("id", "{{id}}");
socket.on("Successful Bind", function(){
                document.getElementById("svgCode").innerHTML = "<p> Perfect !!! </p> <form id='SignInCreds'>Enter your Name : <input type='text' id='txtName' onChange='update(this)'><br/></form>";
        });
socket.on("update", function(payload){
        if((payload.id) && (payload.value)){
            document.getElementById(payload.id).value=payload.value;
        }
        });
function update(element) {
    socket.emit("broadcast", { id: element.id, value: element.value } );
}

</script>
<div align="center">
Scan this with your Android app.
<div id="svgCode">
<img width="20%" src="/authentication.svg?id={{id}}" />
</div>
</div>
</body>
</html>
