<!DOCTYPE html>
<html>
<body>
<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript">
var socket = io();
socket.emit("authid", "{{id}}");
socket.on("uuidquery", function(){
        socket.emit("uuidresponse", 42);
        });
socket.on("Successful Bind", function(){
        console.log("Success!!");
        document.getElementById("authbound").innerHTML = "<p> Perfect !!! </p>";
        });
</script>
<div id="authbound"><p>Not Yet...</p></div>
</body>
</html>
